/* table */
#bandish-container {
    margin-bottom: 10px;
}
table, td {
    border-collapse: collapse;
}
td {
    width: 40px;
    text-align: center;
}
tr.separator {
    height: 20px;
}
tr.bandish {
    height: 65px;
}
#bols td {
    border-bottom: 1px solid;
}
td.current {
    background-color: lightgreen;
}
td.current.sam {
    background-color: lightsalmon;
}
td.current.tali {
    background-color: lightseagreen;
}
td.current.kali {
    background-color: lightblue;
}
.bandish.currentline td {
    background-color: lightgray;
}
.bandish.currentline td.current {
    background-color: lightgreen;
}
tr.bandish td {
    color: gray;
}
tr.bandish.active td {
    color: unset;
}
